@import 'base/imports';

[data-component="header"] {

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    background: transparent;

    img {
      max-width: 120px;

      @include sm {
        max-width: 230px;
      }
    }

    .right {
      img {
        width: 45px;
      }
    }

    .cart {
      border: 1px solid $black;
      border-radius: 10px;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }

    .account,
    .cart {
      margin: 0 20px 0 0;
      cursor: pointer;

      img {
        width: 30px;
      }

      .name {
        text-decoration: underline;
      }

      div {
        font-size: 12px;
        justify-content: center;
        font-weight: 600;
        margin: 0 5px;
      }
    }
  }

  .image {
    width: 60px;
    margin: 0 10px 30px 0;

    img {
      width: 100%;
    }
  }
  .logout {
    cursor: pointer;
  }

  #summary {
    top: 56px;
    width: 100%;
    position: absolute;
    height: calc(100vh - 64px);
    background: $white;
    z-index: 10;
    right: -500px;
    box-shadow: -3px 15px 20px 0px rgba(50, 50, 50, 0.77);
    transition: right .2s;
    padding: 50px;

    @include sm {
      width: 500px;
      top: 64px;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }
}
