<div data-component="page-auth">
  <div class="overlay">
    <div class="login">
      <h1>SIGN IN</h1>
      <form [formGroup]="form">
        <app-input
          [control]="this.getField('email')"
          type="email"
          name="email"
          class="white">
        </app-input>
        <app-input
          [control]="this.getField('password')"
          type="password"
          name="password"
          class="white">
        </app-input>
        <app-button
          text="Login"
          (click)="onSubmit()"
        >
        </app-button>
      </form>
      <div *ngIf="isLoginFailed" class="failed-message">
        <p>Email or password incorrect</p>
      </div>
      <a class="register" (click)="goToRegister()">Não tem acesso? Cadastre-se</a>
    </div>

  </div>
</div>
