$primary-font: var(--theme-font), sans-serif;

$primary-color: var(--theme-primary-500);
$primary-color-light: var(--theme-primary-300);
$primary-color-dark: var(--theme-primary-700);
$primary-color-contrast: var(--theme-primary-contrast-500);

$secondary-color: var(--theme-secondary-500);
$secondary-color-light: var(--theme-secondary-300);
$secondary-color-dark: var(--theme-secondary-700);
$secondary-color-contrast: var(--theme-secondary-contrast-500);

$black: #000;
$white: #fff;
$grey: #999;
$pale-grey: #f4f3f5;
$grey-bg: #f4f4f6;
$medium-grey: #dddddd;
$medium-grey-2: #e8e9eb;
$filter-grey: #ebe9ed;
$dark-grey: #333;
$bg-rgb: rgba(0,0,0,0.8);
$gren: #39D087;
$red: #ff5757;

