<div data-component="book-card">
  <a class="d-flex flex-column align-items-center" routerLink="/list/books/{{book.id}}">
    <img src="{{book.image}}" alt="book">
    <h1>{{book.title}} </h1>
    <p>{{book.author}}</p>
    <b><h1>{{book.value}}</h1></b>
  </a>
  <button mat-raised-button (click)="rent()">Comprar</button>
</div>
