<div data-component="books">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Encontre seu livro favorito</h1>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-search
              [control]="form.get('search')">
            </app-search>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ngx-slick-carousel
          [config]="slideConfig"
          >
        <div ngxSlickItem *ngFor="let book of books" class="slide">
          <app-book-card [book]="book" (addEmit)="addToCart($event)"></app-book-card>
        </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
